.bg {
  background: url(/img/cinemaonscreen.jpg) no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px;
  top:0;
  left:0;
  z-index: -1;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body .container .jumbotron,
body .container-fluid .jumbotron {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: #f5f5f5;
  margin: 0 0 auto;
  height: 300px;
  color: transparent;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  border-color: transparent;
  color: #f5f5f5;

}