@{
    string user = null;
}
@if (user != null)
{
    @Html.AntiForgeryToken()
    <p>Nowe zakładki? :O</p>
}
else
{

    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Repertuar", "Index", "Home")</li>
        <li>@Html.ActionLink("Cennik", "Index", "Home")</li>
    </ul>
}