@{
    ViewBag.Title = "Strona Główna";
}
<link href="~/Content/Home/Index.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/Home/index.js"></script>


 
<h1>Premiery</h1>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/posters/TheJungleBook.jpg">
            <div class="caption">
                <h3>Księga dżungli</h3>
                <p>Wilcza rodzina przygarnia chłopca, któremu nadają imię Mowgli. Gdy ten podrasta, zaprzyjaźnia się z czarną panterą Bagheerą i niedźwiedziem Baloo. </p>
                <div class="thumbnail-footer">
                    <p><a href="#" class="btn btn-primary" role="button">Kup bilet</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-fluid" src="~/img/posters/Zootopia.jpg" alt="...">
            <div class="caption">
                <h3>Zwierzogród</h3>
                <p>Nick Bajer – żyjący z drobnych przekrętów szczwany lis, i Judy Hops – pierwszy w historii królik zatrudniony w policji, łączą siły, by rozwiązać pewną kryminalną zagadkę.</p>
                <div class="thumbnail-footer">
                    <p><a href="#" class="btn btn-primary" role="button">Kup bilet</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
                </div>            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="img-fluid" src="~/img/posters/BatmanVsSuperman.jpg" alt="...">
            <div class="caption">
                <h3>Batman v Superman: Świt sprawiedliwości</h3>
                <p>Superman przybywa do Gotham, prowokując walkę z rycerzem miasta - Batmanem.</p>
                <div class="thumbnail-footer">
                    <p><a href="#" class="btn btn-primary" role="button">Kup bilet</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
                </div>
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/posters/5thWave.jpg" alt="...">
            <div class="caption">
                <h3>Piąta fala</h3>
                <p>Po inwazji kosmitów nastolatka poszukuje zaginionego brata, który prawdopodobnie został porwany przez obcych. </p>
                <div class="thumbnail-footer">
                    <p><a href="#" class="btn btn-primary" role="button">Kup bilet</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/posters/TheHuntsman.jpg" alt="...">
            <div class="caption">
                <h3>Łówca i królowa lodu</h3>
                <p>Dwie złe siostry przygotowują się do podboju Ziemi, tylko łowca i Sara mogą je powstrzymać.</p>
                <div class="thumbnail-footer">
                    <p><a href="#" class="btn btn-primary" role="button">Kup bilet</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="~/img/posters/OtherSideOfDoor.jpg" alt="...">
            <div class="caption">
                <h3>Po tamtej stronie drzwi</h3>
                <p>Po śmierci syna Maria wyrusza do starożytnej hinduskiej świątyni, by nawiązać z nim kontakt. Otwiera drzwi między światami, które miały być na zawsze zamknięte. </p>
                <div class="thumbnail-footer">
                    <p><a href="#" class="btn btn-primary" role="button">Kup bilet</a> <a href="#" class="btn btn-default" role="button">Rezerwuj</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
