@model List<Cinema.Models.Movie>
@{
    ViewBag.Title = "Strona Główna";
}
<link href="~/Content/Home/Index.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/Home/index.js"></script>


 
<h1>Premiery</h1>
<div class="row">

    @foreach (var movie in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@movie.ImageURL">
                <div class="caption">
                    <h3>@movie.Title</h3>
                    <p>@movie.Description</p>
                    <div class="thumbnail-footer">
                        <p>@Html.ActionLink("Kup bilet", "SelectSeance","Application", new { id = movie.MovieID }, new { @class = "btn btn-primary" })</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
