@{
    ViewBag.Title = "Cennik";
}

<link href="~/Content/Home/Index.css" type="text/css" rel="stylesheet" />
<script src="~/Scripts/Home/index.js"></script>
<div class="bg"></div>
<div class="jumbotron">
    <h1>HURR-DURR</h1>
    <p class="lead">HURR-DURR HURR-DURR HURR-DURR HURR-DURR HURR-DURR</p>
</div>

<h1 class="text-center">Cennik</h1>

<div class="thumbnail">
    <div class="row">
        <div class="col-sm-4 text-left">
            <h3>Rodzaj seansu</h3>        
        </div>
        <div class="col-sm-4 text-center">
            <h3>Filmy 2D</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>Filmy 3D</h3>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4 text-left">
            <h3>Bilet normalny</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>15zł</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>20zł</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 text-left">
            <h3>Bilet ulgowy*</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>10zł</h3>
        </div>
        <div class="col-sm-4 text-center">
            <h3>16zł</h3>
        </div>
    </div>
    <div class="col-sm-13"><hr></div>
    <div class="row">
        <div class="col-sm-4">
            <h6>*młodzież szkolna oraz studenci do 26 roku życia (za okazaniem ważnej legitymacji uczniowskiej/studenckiej)</h6>
        </div>
    </div>
</div>