@using Cinema.DAL
@using Cinema.Services
@model Cinema.Models.SeatsModel

@{
    ViewBag.Title = "SeatReservation";
    MovieRepository movieRepo = new MovieRepository(new CinemaContext());
    SeanceRepository seanceRepo = new SeanceRepository(new CinemaContext());
    var totalTik = 0;
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class=" col-md-12 col-md-offset-1 col-xs-12">
                <div class="demo">
                    <div id="seat-map">
                        <div class="front">EKRAN</div>
                    </div>
                    <div class="booking-details">
                        <p>Film: <span>@movieRepo.GetMovieName(seanceRepo.GetMovieId(Model.SeanceID))</span></p>
                        <p>Data seansu: <span>@seanceRepo.GetSeanceDate(Model.SeanceID)</span></p>
                        <p>Miejsce: </p>                        
                        <ul id="selected-seats"></ul>
                        <p>Bilety: <span id="counter"></span></p>



                        <button type="submit" class="btn btn-raised btn-success">Kup bilet</button>

                        <div id="legend"></div>
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
        </div>
    </div>
}
<script type="text/javascript" src="/Scripts/account/jquery.seat-charts.min.js"></script>
<script type="text/javascript" src="/Scripts/account/SeatReservation.js"></script>