.navbar {
  background-color: #4B515D;
  border: 0;
  border-radius: 0;
}
.navbar .navbar-brand {
  position: relative;
  height: 60px;
  line-height: 30px;
  color: inherit;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: inherit;
  background-color: transparent;
}
.navbar .navbar-text {
  color: inherit;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navbar .navbar-nav > li > a {
  color: inherit;
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: inherit;
  background-color: #6d7687;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
  color: inherit;
  background-color: #6d7687;
}

.navbar,
.navbar.navbar-default {
  background-color: #4B515D;
  color: rgba(255,255,255, 0.84);
}


.navbar .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar.navbar-default .navbar-form .form-group input.form-control::-webkit-input-placeholder,
.navbar .navbar-form input.form-control::-webkit-input-placeholder,
.navbar.navbar-default .navbar-form input.form-control::-webkit-input-placeholder {
  color: rgba(255,255,255, 0.84);
}
.navbar .dropdown-menu,
.navbar.navbar-default .dropdown-menu {
  border-radius: 2px;
}
.navbar .dropdown-menu li > a,
.navbar.navbar-default .dropdown-menu li > a {
  font-size: 16px;
  padding: 13px 16px;
}
.navbar .dropdown-menu li > a:hover,
.navbar.navbar-default .dropdown-menu li > a:hover,
.navbar .dropdown-menu li > a:focus,
.navbar.navbar-default .dropdown-menu li > a:focus {
  color: #4B515D;
  background-color: #eeeeee;
}
.navbar .dropdown-menu .active > a,
.navbar.navbar-default .dropdown-menu .active > a {
  background-color: #4B515D;
  color: rgba(255,255,255, 0.84);
}
.navbar .dropdown-menu .active > a:hover,
.navbar.navbar-default .dropdown-menu .active > a:hover,
.navbar .dropdown-menu .active > a:focus,
.navbar.navbar-default .dropdown-menu .active > a:focus {
  color: rgba(255,255,255, 0.84);
}