.bg {
  background: url(/img/top-bg.png) repeat center -58px;
  position: fixed;
  width: 100%;
  height: 150px;
  top:0;
  left:0;
  z-index: -1;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body  .jumbotron {
  background-color: transparent;
  padding: 0;
  margin-bottom: 0;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  color: #f5f5f5;
  margin: 0 0 auto;
  height: 130px;
  color: transparent;
  text-shadow: #444 0 1px 1px;
  background:transparent;
  border-color: transparent;
  color: #f5f5f5;
}

.cinema-logo {
    padding-left: 100px;
}

.cinemaName{
    position: absolute;
    padding-left: 225px;
   top: 90px;
   text-decoration: none;
   color: #F5F5F5;
}


#placeholder{
  
    height: 100px;
}



html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
}
#header {
   padding-bottom:0px; /* Height of the navbar */
}
#body {
   padding:10px;
   padding-bottom:40px;   /* Height of the footer */
}
footer {
    padding: 10px;
    color: #f5f5f5;
    background-color: #383838 !important;
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
    width: 100%;
}

.front {
    width: 430px;
    margin: 5px 32px 45px 32px;
    background-color: #455a64 ;
    color: #ffffff;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
} 

.booking-details {
    float: left;
    margin-left: 30px;
    position: relative;
    width:300px;
    height: 450px;
} 

.booking-details h3 {
    margin: 5px 5px 0 0;
    font-size: 16px;
} 

.booking-details p {
    line-height:26px;
    font-size:16px; 
    color:#999
} 

.booking-details p span {
    color: #666;
} 

div.seatCharts-cell {
    color: #182C4E;
    height: 35px;
    width: 35px;
    line-height: 25px;
    margin: 3px;
    float: left;
    text-align: center;
    outline: none;
    font-size: 13px;
} 

div.seatCharts-seat {
    color: #fff;
    cursor: pointer;
    
} 

div.seatCharts-row {
    height: 40px; /*wysokość rzędu*/
} 

div.seatCharts-seat.available {
    background-color: #4285F4;
} 

div.seatCharts-seat.focused {
    background-color: #0d47a1;
    border: none;
} 

div.seatCharts-seat.selected {
    background-color: #003d81 ;
} 

div.seatCharts-seat.unavailable {
    background-color: #616161;
    cursor: not-allowed;
} 

div.seatCharts-container {
    border-right: 1px dotted #adadad;
    width: 500px;
    padding: 20px;
    float: left;

} 

div.seatCharts-legend {
    
    padding-left: 0px;
    position: absolute;
    bottom: 16px;
} 

ul.seatCharts-legendList {
    padding-left: 0px;
} 

.seatCharts-legendItem {
    float:left; 
    width:90px;
    margin-top: 10px;
    line-height: 2;
    list-style: none;
} 

span.seatCharts-legendDescription {
    margin-left: 5px;
    line-height: 30px;
} 

.checkout-button {
    display: block;
    width:80px; 
    height:24px; 
    line-height:20px;
    margin: 10px auto;
    border:1px solid #999;
    font-size: 14px; 
    cursor:pointer
} 

#selected-seats {
    max-height: 150px;
    overflow-y: auto;
    overflow-x:no-display;
    width: 200px;
} 

#selected-seats li {
    float:left; 
    width:72px; 
    height:26px; 
    line-height:26px; 
    border:1px solid #d3d3d3; 
    background:#f7f7f7; 
    margin:6px; 
    font-size:14px; 
    font-weight:bold;
    text-align: center;
    list-style: none;
}

p.movie-description {
   width: 320px !important;
}